body {
  background: #CC8C8D ;
}

.wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 16px);
}

.container {
  display: flex;
  height: 160px;  
  width: 500px;
  gap: 10px;
  background:#FFBE46;
  border-radius: 10px;
  padding: 10px;

}

.container:nth-child(1) {
  align-items: flex-end;
}

.container:nth-child(2) {
  justify-content: center;
  background: #8ACB89;
} 

.container:nth-child(3) {
  align-items: center;
  justify-content: end;
}

.container:nth-child(4) {
  background: #575761;
  justify-content: space-between;
}

.container:nth-child(5) {
  justify-content: space-evenly;
  background: #E4FDE0 ;
}

.container:nth-child(6) {
  background: #6B969D;
  justify-content: center;
  align-items: center;
}

.container:nth-child(2)>.child {
  height: unset;
}

.container:nth-child(4)>:last-child {
  align-self: flex-end;
}

.container:nth-child(5)>.child {
  position: relative;
}

.container:nth-child(5)>:nth-child(even) {
  align-self: center;
}

.container.container:nth-child(5)>:nth-child(even)::after {
  top: 30%;
}

.container:nth-child(5)>.child::after {
  content: "Some text";
  color: red;
  position: absolute;
  top: 36%;
  left: 0;
  right: 0;
  text-align: center;
}

.container:nth-child(5)>:nth-child(odd){
  height: 100%;
}

.container:nth-child(6)>:nth-child(even) {
  flex-grow: 0.5;
}



.child {
  height: 100px;
  width: 100px;
  background: rgb(5, 5, 5);
  border-radius: 5px;
}


